<p id="notice"><%= notice %></p>
<div class="text-xl">
  <%= @test.name %>
</div>
<button class="modal-open btn btn-blue float-right">Qr Code</button>
<div class="mt-4">
 Questions
</div>
<div id="questions" class="mt-6 bg-blue-100">
 <%= render partial: 'tests/question', collection: @questions %>
</div>

  
 <%= render partial: 'shared/modal', locals: { test: @test }  %>


<%= javascript_pack_tag 'modal', 'data-turbolinks-track': 'reload' %>
